<?xml version="1.0"?>
<config>
    <modules>
        <Kredivo_Kredivopayment>
            <version>1.0.0</version>
        </Kredivo_Kredivopayment>
    </modules>
    <global>
        <models>
            <kredivopayment>
                <class>Kredivo_Kredivopayment_Model</class>
            </kredivopayment>
        </models>
        <helpers>
            <kredivopayment>
                <class>Kredivo_Kredivopayment_Helper</class>
            </kredivopayment>
        </helpers>
        <blocks>
            <kredivopayment>
                <class>Kredivo_Kredivopayment_Block</class>
            </kredivopayment>
        </blocks>
    </global>
    <default>
        <payment>
            <kredivopayment>
                <model>kredivopayment/standard</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Kredivo</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <conversion_rate>10000</conversion_rate>
                <environment>sandbox</environment>
            </kredivopayment>
        </payment>
    </default>
    <frontend>
        <events>  
            <payment_method_is_active>
                <observers>
                    <kredivopayment>
                        <type>singleton</type>
                        <class>Kredivo_Kredivopayment_Model_Observer</class>
                        <method>disableMethod</method>
                    </kredivopayment>
                </observers>
            </payment_method_is_active>
        </events>
        <routers>
            <kredivopayment>
                <use>standard</use>
                <args>
                    <module>Kredivo_Kredivopayment</module>
                    <frontName>kredivopayment</frontName>
                </args>
            </kredivopayment>
        </routers>
    </frontend>
</config>
